<a href="https://colab.research.google.com/github/marcusbutta/CSC221_mbutt007/blob/main/assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: Marcus Butta
# Assignment 7

In [ ]:
alien_0 = {'color' : 'green', 'points' : 5}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [ ]:
new_points = alien_0['points']
print(f"You just earned {new_points} points!")

You just earned 5 points!

In [ ]:
print(alien_0)

alien_0['x-posistion'] = 0
alien_0['y-posistion'] = 25

print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x-posistion': 0, 'y-posistion': 25}

In [ ]:
alien_0 = {}

alien_0['color'] = 'green'
alien_0['points'] = 5

print(alien_0)

{'color': 'green', 'points': 5}

In [ ]:
print(f"The alien is {alien_0['color']}")
alien_0['color'] = 'yellow'
print(f"The alien is now {alien_0['color']}")

The alien is yellow
The alien is now yellow

In [ ]:
alien_0 = {'color': 'green', 'points': 5}

print(alien_0)
del alien_0['points']
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green'}

In [ ]:
point_value = alien_0.get('points', 'No point value assigned.')
print(point_value)

No point value assigned.

Try it yourself

In [ ]:
me = {
    'first_name' : 'marcus',
    'last_name' : 'butta',
    'city' : 'new york'
}

print(f"Hi, my name is {me['first_name'].title()} {me['last_name'].title()} and I live in the city of {me['city'].title()}!")

Hi, my name is Marcus Butta and I live in the city of New York!

In [8]:
favNums = {
    'bob' : 32,
    'sarah' : 21,
    'john' : 70,
    'jack' : 12,
    'mary' : 42
}

for name in favNums:
  print(f"{name.title()}: {favNums[name]}")

Bob: 32
Sarah: 21
John: 70
Jack: 12
Mary: 42

In [ ]:
prog_words = {
    'Variable' : 'A tag you assign a value to.',
    'For loop' : 'A loop that goes through all items in a variable.',
    'While loop' : 'A loop that goes on for as long as the given statement is true.',
    'Library' : 'Code that you can import into your code to make simple tasks easier.',
    'If statement' : 'Code that will run if the given statement is true.'
}

for word in prog_words:
  print(f"{word}: {prog_words[word]}\n")

Variable: A tag you assign a value to.

For loop: A loop that goes through all items in a variable.

While loop: A loop that goes on for as long as the given statement is true.

Library: Code that you can import into your code to make simple tasks easier.

If statement: Code that will run if the given statement is true.

end of try it yourself

In [ ]:
user_0 = {
  'username': 'efermi',
  'first': 'enrico',
  'last': 'fermi',
}

for key, value in user_0.items():
  print(f"\nKey: {key}")
  print(f"Value: {value}")

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

In [ ]:
favorite_languages = {
  'jen': 'python',
  'sarah': 'c',
  'edward': 'rust',
  'phil': 'python',
}

for name in favorite_languages.keys():
  print(name.title())

Jen
Sarah
Edward
Phil

In [ ]:
favorite_languages = {
  'jen': 'python',
  'sarah': 'c',
  'edward': 'rust',
  'phil': 'python',
}

print("The following languages have been mentioned:")
for language in favorite_languages.values():
  print(language.title())

The following languages have been mentioned:
Python
C
Rust
Python

try it yourself

I did not do 6-4 as I had already used a for loop

In [ ]:
rivers = {
    'nile' : 'egypt',
    'mississippi' : 'the united states',
    'amazon' : 'brazil'
}

for river, country in rivers.items():
  print(f"The {river.title()} runs through {country.title()}")

The Nile runs through Egypt
The Mississippi runs through The United States
The Amazon runs through Brazil

In [ ]:
favorite_languages = {
  'jen': 'python',
  'sarah': 'c',
  'edward': 'rust',
  'phil': 'python',
}

poll_list = ('jen', 'edward', 'john', 'marry')

for poller in poll_list:
  if poller in favorite_languages:
    print(f"{poller.title()}, thank you for taking the poll.")
  else:
    print(f"{poller.title()}, please consider taking the poll.")

Jen, thank you for taking the poll.
Edward, thank you for taking the poll.
John, please consider taking the poll.
Marry, please consider taking the poll.

end of do it yourself

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = (alien_0, alien_1, alien_2)

for alien in aliens:
  print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

try it yourself

In [4]:
me = {
    'first_name' : 'marcus',
    'last_name' : 'butta',
    'city' : 'new york'
}

ned = {
    'first_name' : 'ned',
    'last_name' : 'lecky',
    'city' : 'plattsburgh'
}

imaginary = {
    'first_name' : 'john',
    'last_name' : 'doe',
    'city' : 'seattle'
}

people = (me, ned, imaginary)

for i in people:
  print(f"Hi my name is {i['first_name'].title()} {i['last_name'].title()}, and I am from {i['city'].title()}")

Hi my name is Marcus Butta, and I am from New York
Hi my name is Ned Lecky, and I am from Plattsburgh
Hi my name is John Doe, and I am from Seattle

In [5]:
max = {
    'name' : 'max',
    'type' : 'dog',
    'age' : 4
}

biscuit = {
    'name' : 'biscuit',
    'type' : 'cat',
    'age' : 1
}

pirate = {
    'name' : 'pirate',
    'type' : 'parrot',
    'age' : 3
}

dragon = {
    'name' : 'dragon',
    'type' : 'gecko',
    'age' : 7
}

sushi = {
    'name' : 'sushi',
    'type' : 'cat',
    'age' : 5
}

pets = (max, biscuit, pirate, dragon, sushi)

for pet in pets:
  print(f"{pet['name'].title()} is {pet['age']} years old and is a {pet['type']}.")

Max is 4 years old and is a dog.
Biscuit is 1 years old and is a cat.
Pirate is 3 years old and is a parrot.
Dragon is 7 years old and is a gecko.
Sushi is 5 years old and is a cat.

In [7]:
favorite_places = {
    'bob' : 'arcade',
    'john' : 'pizza place',
    'marry' : 'beach'
}

for person, place in favorite_places.items():
  print(f"{person.title()}'s favorite place is the {place}.")

Bob's favorite place is the arcade.
John's favorite place is the pizza place.
Marry's favorite place is the beach.

In [13]:
favNums = {
    'bob' : [2, 3, 8],
    'sarah' : [21, 37],
    'john' : [20, 34, 70],
    'jack' : [12, 15, 18, 202],
    'mary' : [42, 65]
}

for name in favNums:
  print(f"{name.title()}: {favNums[name]}")

Bob: [2, 3, 8]
Sarah: [21, 37]
John: [20, 34, 70]
Jack: [12, 15, 18, 202]
Mary: [42, 65]

In [28]:
cities = {
    'new york' : {
        'name' : 'new york',
        'location' : 'the united states',
        'population' : 8_804_190,
        'size' : 472.43
    },
    'tokyo' : {
        'name' : 'tokyo',
        'location' : 'japan',
        'population' : 14_094_034,
        'size' : 847.14
    },
    'berlin' : {
        'name' : 'berlin',
        'location' : 'germany',
        'population' : 3_850_809,
        'size' : 344.1
    },
}

for city in cities:
  city = cities[city]
  print(f"{city['name'].title()} is a city in {city['location'].title()} that is {city['size']} sq mi, with a population of {city['population']}.")

New York is a city in The United States that is 472.43 sq mi, with a population of 8804190.
Tokyo is a city in Japan that is 847.14 sq mi, with a population of 14094034.
Berlin is a city in Germany that is 344.1 sq mi, with a population of 3850809.

In [36]:
favNums = {
    'bob' : [2, 3, 8],
    'sarah' : [21, 37],
    'john' : [20, 34, 70],
    'jack' : [12, 15, 18, 202],
    'mary' : [42, 65]
}

for name in favNums:
  print(f"\n{name.title()}'s favorite numbers are:\n")
  nums = favNums[name]
  for num in nums:
    print(f"{num}")

Bob's favorite numbers are:

2
3
8

Sarah's favorite numbers are:

21
37

John's favorite numbers are:

20
34
70

Jack's favorite numbers are:

12
15
18
202

Mary's favorite numbers are:

42
65