<a href="https://colab.research.google.com/github/marcusbutta/CSC221_mbutt007/blob/main/assignment12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Marcus Butta
# Assignment 12

In [19]:
class Money():
  def __init__(self, total):
    try:
      self.total = float(total)
    except ValueError:
      print("ERROR: Not a valid input")

# Bills
class Bills(Money):
  def __init__(self, ones=0, fives=0, tens=0, twentys=0):
    try:
      self.ones = int(ones)
      self.fives = int(fives)
      self.tens = int(tens)
      self.twentys = int(twentys)
      total = (self.ones * 1) + (self.fives * 5) + (self.tens * 10) + (self.twentys * 20)
    except ValueError:
      print("ERROR: All input must be integers")
      print("Falling back to 'total = 0'")
      total = 0
    super().__init__(total)

class Ones(Bills):
  def __init__(self, amount):
    self.ones = amount
    super().__init__(ones=self.ones)

class Fives(Bills):
  def __init__(self, amount):
    self.fives = amount
    super().__init__(fives=self.fives)

class Tens(Bills):
  def __init__(self, amount):
    self.tens = amount
    super().__init__(tens=self.tens)

class Twentys(Bills):
  def __init__(self, amount):
    self.twentys = amount
    super().__init__(twentys=self.twentys)

# Coins
class Coins(Money):
  def __init__(self, pennys=0, nickels=0, dimes=0, quarters=0):
    try:
      self.pennys = int(pennys)
      self.nickels = int(nickels)
      self.dimes = int(dimes)
      self.quarters = int(quarters)
      total = (self.pennys * 0.01) + (self.nickels * 0.05) + (self.dimes * 0.1) + (self.quarters * 0.25)
    except ValueError:
      print("ERROR: All input must be integers")
      print("Falling back to 'total = 0'")
      total = 0
    super().__init__(total)

class Pennys(Coins):
  def __init__(self, amount):
    self.pennys = amount
    super().__init__(pennys=self.pennys)

class Nickels(Coins):
  def __init__(self, amount):
    self.nickels = amount
    super().__init__(nickels=self.nickels)

class Dimes(Coins):
  def __init__(self, amount):
    self.dimes = amount
    super().__init__(dimes=self.dimes)

class Quarters(Coins):
  def __init__(self, amount):
    self.quarters = amount
    super().__init__(quarters=self.quarters)

Functions:

In [36]:
def money_sum(wallet):
  total = 0
  for item in wallet:
    total += item.total
  return total

def money_list(wallet):
  money = {
      'Ones' : 0,
      'Fives' : 0,
      'Tens' : 0,
      'Twentys' : 0,
      'Pennys' : 0,
      'Nickels' : 0,
      'Dimes' : 0,
      'Quarters' : 0
  }

  for item in wallet:
    try:
      money['Ones'] += item.ones
      money['Fives'] += item.fives
      money['Tens'] += item.tens
      money['Twentys'] += item.twentys
    except:
      money['Pennys'] += item.pennys
      money['Nickels'] += item.nickels
      money['Dimes'] += item.dimes
      money['Quarters'] += item.quarters

  print("List of money in wallet:")
  for key, value in money.items():
    print(f"{key}: {value}")

Testing:

In [40]:
wallet1 = {Ones(5), Tens(2), Fives(3), Pennys(3)}

print(money_sum(wallet1))
money_list(wallet1)

40.03
List of money in wallet:
Ones: 5
Fives: 3
Tens: 2
Twentys: 0
Pennys: 3
Nickels: 0
Dimes: 0
Quarters: 0

In [61]:
wallet2 = {Tens(7), Fives(1), Twentys(2), Quarters(3), Dimes(8), Nickels(3)}

print(money_sum(wallet2))
money_list(wallet2)

116.7
List of money in wallet:
Ones: 0
Fives: 1
Tens: 7
Twentys: 2
Pennys: 0
Nickels: 3
Dimes: 8
Quarters: 3

In [70]:
wallet3 = {Twentys(4), Fives(4), Ones(4), Quarters(2), Dimes(6)}

print(money_sum(wallet3))
money_list(wallet3)

105.1
List of money in wallet:
Ones: 4
Fives: 4
Tens: 0
Twentys: 4
Pennys: 0
Nickels: 0
Dimes: 6
Quarters: 2